.required{
	color: red;
}

table {
	width : 100%;
	border-collapse: collapse;
	border: 1px solid black;
}

table tr td{
	border: 1px solid black;
}

td{
	padding: 10px;
}

.left: {
	width: 100%;
	color: red;
}
